extends layout

block content

  h1 Item: #{title}

  ul
    li Description: #{item.description}
    li Price: $#{item.price}
    li Quantity: #{item.quantity}

  hr

  p
    a(href=item.url+'/edit') Edit Item

  p
    a(href=item.url+'/delete') Delete Item